*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#fa9ec4;
    font-family:Arial, Helvetica, sans-serif;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.container{
    background:white;
    width:400px;
    padding:25px;
    border-radius:10px;
}

h1{
    text-align:center;
    margin-bottom:20px;
}

.input-area{
    display:flex;
    gap:10px;
}

input{
    flex:1;
    padding:10px;
    font-size:16px;
}

button{
    padding:10px 20px;
    cursor:pointer;
}

ul{
    margin-top:20px;
}

li{
    list-style:none;
    background:#eeeeee;
    padding:12px;
    margin-bottom:10px;
    border-radius:6px;
}